[submodule "habito-android"]
	path = habito-android
	url = https://github.com/Miteshhsingla/habito-android.git
	branch = master

[submodule "habito-backend"]
	path = habito-backend
	url = https://github.com/SaranshBaniyal/habito-backend.git
	branch = main